@font-face {
    font-family: proximanova;
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/proximanova/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/proximanova/ProximaNova-Bold.woff) format("woff"), url(../fonts/proximanova/ProximaNova-Bold.ttf) format("truetype")
}

.cls-1:hover {
    fill: #dadada;
}

.cls-1_has-data:hover, .cls-1_active:hover {
    fill: #1ab9ff;
}

.cls-1_has-data, .cls-1_active {
    fill: #b4dbfe;
    cursor: pointer;
}

.cls-1_active {
    fill: #1ab9ff;
}

.geography-popup {
    display: none;
    position: absolute;
    width: 460px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .2);
    z-index: 100;
}

.geography-popup::after {
    content: '';
    position: absolute;
    left: 0;
    top: -16px;
    border: 16px solid transparent;
    border-bottom: 16px solid #fff;
    border-left: 16px solid #fff;
    z-index: -1;
}

.geography-popup_bottom-label::after {
    top: auto;
    bottom: -16px;
    transform: rotate(90deg);
}

.geography-popup_bottom-label.geography-popup_right-label::after {
    transform: rotate(180deg);
}

.geography-popup_right-label::after {
    left: auto;
    right: 0;
    transform: rotate(270deg);
}

.geography-popup_opened {
    display: block;
}

.geography-popup__text {
    font-size: 15px;
    line-height: 20px;
    font-family: proximanova, sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    color: #000;
}

.geography-popup__phone {
    font-size: 24px;
    font-weight: bold;
    font-family: proximanova, sans-serif;
    line-height: 48px;
}

.geography-popup__close {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 12px;
    right: 12px;
}

.geography-popup__close::before, .geography-popup__close::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 4px;
    top: 7px;
    background-color: #d7d7d7;
    transition: .15s background-color ease;
}

.geography-popup__close:hover::before, .geography-popup__close:hover::after {
    background-color: #000;
}

.geography-popup__close::before {
    transform: rotate(45deg);
}

.geography-popup__close::after {
    transform: rotate(-45deg);
}

.geography-popup__btn {
    width: 100%;
    height: 3rem;
}

.geography-popup__input {
    font-size: 18px;
    line-height: 40px;
    font-family: proximanova, sans-serif;
    font-weight: 400;
    color: #7d808a;
    background: #f7f7f7;
    padding-left: 1.0625rem;
    margin-bottom: .9375rem;
    outline: 0 !important;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0
}

.geography__map-wrap {
    position: relative;
}

.overlay {
    display: none;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 200;
}

.overlay_opened {
    display: block;
}

.call-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 330px;
    padding: 25px 40px 45px;
    background-color: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .2);
    z-index: 300;
}

.call-popup_opened {
    display: block;
}

.call-popup__title {
    font-size: 24px;
    line-height: 40px;
    color: #000;
    font-family: exo2,sans-serif;
    font-weight: 700;
    margin: 0 0 15px 0;
}

.call-popup__input {
    font-size: 18px;
    line-height: 40px;
    font-family: proximanova, sans-serif;
    font-weight: 400;
    color: #7d808a;
    background: #f7f7f7;
    border: 1px solid #d9d9d9;
    padding-left: 1.0625rem;
    margin-bottom: 1.2rem;
    outline: 0 !important;
    -webkit-border-radius: 0;
    border-radius: 0
}

.call-popup__input:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #d9d9d9;
}

.call-popup__btn {
    width: 100%;
}

.call-popup__close {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 12px;
    right: 12px;
}

.call-popup__close::before, .call-popup__close::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 3px;
    top: 7px;
    background-color: #b8b8b8;
    transition: .15s background-color ease;
}

.call-popup__close:hover::before, .call-popup__close:hover::after {
    background-color: #000;
}

.call-popup__close::before {
    transform: rotate(45deg);
}

.call-popup__close::after {
    transform: rotate(-45deg);
}

.registration__maintitle {
    padding: .75rem 0 1.375rem 0;
}

@media only screen and (max-width:767px) {
    .registration__maintitle {
        line-height: 2.435rem;
    }
}

.registration__maintitle .highlight {
    background-color: #fff;
    color: #000;
    display: inline;
    padding: 0 1.25rem 0 1.875rem;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

.registration__title, .registration__text {
    padding: 0;
    background: transparent;
    line-height: 44px;
}

.registration__text {
    line-height: 28px;
}

.registration__title .highlight, .registration__text .highlight {
    background-color: #4e6576;
    color: #fff;
    display: inline;
    padding: 0 .75rem 0 .625rem;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

.registration__text .highlight {
    padding: 0 .75rem .25rem .625rem;
}

.registration__title .highlight div, .registration__text .highlight div {
    color: #000;
}

.questionform__input {
    resize: none;
}

.ourclients__links-border {
    pointer-events: none;
}

.freecheck__btn:hover {
    background-color: #fff;
    border-color: #fff;
    color: #24aded;
}

.callback__text {
    cursor: pointer;
}

.callback__text:hover {
    color: #fff;
}

.stages__title {
    max-width: 55%;
}

.slideresult__data {
    display: none;
}