<p class="footer__text footer__text-name">ИП Шевченко Максим Валерьевич</p>
<p class="footer__text">ИНН 190118361996</p>
<p class="footer__text">ОГРН 314190133200029</p>
<p class="footer__text">г. Абакан, ул. Щетинкина 59, офис 302</p>