<ul class="toplist">
    <li class="toplist__item">Консультация патентного поверенного</li>
    <li class="toplist__item">Индивидуальный подбор классов</li>
    <li class="toplist__item">Предварительная проверка товарного знака</li>
    <li class="toplist__item">Ускоренная регистрация за 3 часа<br> за счет электронного документооборота с Роспатентом</li>
</ul>